/node_modules
/logs/queries.log
/web.config
/desktop.ini
/deploy/development
/deploy/development/dist
/deploy/production
/deploy/production/dist
/css
/config

/.eslintrc
/.vscode
/.idea
/.sass-cache
/.sublime-grunt.cache

/statics
/scss

/dist

node/logger/downloads/*

userConfig.json
env.json

/report

index.php
index.html

# Allow
config/web-development.config
config/web-production.config
