/node_modules
/logs/queries.log
/web.config
/desktop.ini
/deploy/development
/deploy/development/dist
/deploy/production
/deploy/production/dist
/css
/config

/.eslintrc
/.vscode
/.idea
/.sass-cache
/.sublime-grunt.cache

/statics
/scss

/dist

node/logger/downloads/*

userConfig.json
env.json

/report

index.php
index.html

# Allow
config/web-development.config
config/web-production.config

### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
node_modules/
docs/_book/
.tmp
.idea
npm-debug.log
.build/
lib
*.orig
react/package-lock.json

